<% provide(:title, @title) %>
<div class="container">
	<div class="row">
	  
  <div class="col-md-12">
    <div class="title-bar">
      <h1>All Tags</h1>  
    </div>
  
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="big_tag_cloud">
    	  	<% tag_cloud Post.tag_counts.all, %w[s m l] do |tag, css_class| %>
            <%= link_to tag.name.downcase, tag_path(tag.name), class: css_class %>
          <% end %>
        </div>
      </div>
    </div>
	</div>
</div>
</div>