<% provide(:title, @title) %>

<div class="row">
  
  <div class="col-md-1">
    <%= render 'layouts/header' %>
  </div>
  <div class="col-md-11">
  	
		<h1>Epley Calculator</h1>
		
		<div class="container calculator">
			<div class="row">
				<div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-body">
							<label for="weight">How much you moved:</label>
							<input id="weight" placeholder="weight" value="" type="number">
							<label for="reps">How many times you moved it:</label>
							<select class="reps" id="rep">
								<option value="1">1</option>
								<option value="1.0333">2</option>
								<option value="1.0667">3</option>
								<option value="1.1333">4</option>
								<option value="1.1667">5</option>
								<option value="1.2">6</option>
								<option value="1.2333">7</option>
								<option value="1.2667">8</option>
								<option value="1.3">9</option>
								<option value="1.3333">10</option>
							</select>
							<button class="submit btn btn-primary">Boom!</button>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="panel panel-default">
						<h2>One Rep Max: <span id="1rm"></span></h2>
						<div class="container">
							<div class="row">
								<div class="col-md-2">
									<h3 class="odd">125%  -- <span id="125"></span></h3>
									<h3>120%  -- <span id="120"></span></h3>
									<h3 class="odd">115%  -- <span id="115"></span></h3>
									<h3>110%  -- <span id="110"></span></h3>
									<h3 class="odd">105%  -- <span id="105"></span></h3>
									<h3>100%  -- <span id="100"></span></h3>
								</div>
								<div class="col-md-2">
									<h3 class="odd">95% -- <span id="95"></span></h3>
									<h3>90% -- <span id="90"></span></h3>
									<h3 class="odd">85% -- <span id="85"></span></h3>
									<h3>80% -- <span id="80"></span></h3>
									<h3 class="odd">75% -- <span id="75"></span></h3>
									<h3>70% -- <span id="70"></span></h3>
									<h3 class="odd">65% -- <span id="65"></span></h3>
									<h3>60% -- <span id="60"></span></h3>
									<h3 class="odd">55% -- <span id="55"></span></h3>
									<h3>50% -- <span id="50"></span></h3>
								</div>
							</div>
						</div>
							
					</div>
				</div>
				<div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-body">
							In 1985, Nebraska strength and conditioning coach Boyd Epley derived the 
							formula: 1RM = weight(1+(reps/30)), assuming r > 1. Ever since then, this 
							equation has been used to find percentages of maximum exercise capacity
							to use in working sets. These numbers will give you a pretty good idea of 
							relative loads, but may differ in accuracy or precision based on the age, 
							gender, and experience of the athlete and the technical rigor of the excerise.
						</div>
					</div>
				</div>
			</div>
		</div>

			




		  
  </div>
</div>

<script>
	$(document).ready(function(){

		$('.submit').click(function() {
			var weight = parseInt($("input[id='weight']").val());
			var reps = ($(".reps").val());
			onerepmax = Math.round(weight * reps);

			$('#1rm').text(onerepmax);
			$('#125').text(Math.round(1.25 * onerepmax));
			$('#120').text(Math.round(1.20 * onerepmax));
			$('#115').text(Math.round(1.15 * onerepmax));
			$('#110').text(Math.round(1.10 * onerepmax));
			$('#105').text(Math.round(1.05 * onerepmax));
			$('#100').text(Math.round(1.00 * onerepmax));
			$('#95').text(Math.round(0.95 * onerepmax));
			$('#90').text(Math.round(0.9 * onerepmax));
			$('#85').text(Math.round(0.85 * onerepmax));
			$('#80').text(Math.round(0.80 * onerepmax));
			$('#75').text(Math.round(0.75 * onerepmax));
			$('#70').text(Math.round(0.70 * onerepmax));
			$('#65').text(Math.round(0.65 * onerepmax));
			$('#60').text(Math.round(0.60 * onerepmax));
			$('#55').text(Math.round(0.55 * onerepmax));
			$('#50').text(Math.round(0.50 * onerepmax));

		});

	});
</script>