<% provide(:title, @title) %>
<div class="row">
  
  <div class="col-md-1">
    <%= render 'layouts/header' %>
  </div>
  <div class="col-md-6 col-md-offset-3">
  	<div class="title-bar">
  		<h1>Contact</h1>	
  	</div>
	
		<%= image_tag "dont.png" %>
	</div>
</div>