<p><%= @user.name %>,</p>

<p>Welcome to GymBull and thank you for signing up! We're super-duper excited to
have you onboard! Click on the link below to activate your account, and then 
you can add more information to your profile, find and follow other users and gyms, 
or share workouts, meals, and more with everyone else.</p>

<%= link_to "ACTIVATE", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
                                                    
<p>If you have the time, please fill out our quick <a href="https://drive.google.com/open?id=1_ONTKbeESZZ-1ZbBvLtqcS-BN3YMr-W6CUkvfhWxcuw">SURVEY</a>.</p>                                                    
                                                    
<p>Sincerely,</br>
The Bull</p>