<h1>Password reset</h1>

<p>To reset your GymBull password, click this link:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

</p>(Maybe write it down this time?)</p>

<p>This link will expire in two hours.</p>