<% unless current_user?(@user)%>
  <div id="index_follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'index_unfollow' %>
  <% else %>
    <%= render 'index_follow' %>
  <% end %>
  </div>
<% end %>