<% provide(:title) %>
<div  class="row">
	<div class="col-md-1">
  	<%= render 'layouts/header' %>
	</div>
	
	<aside class="col-md-3 panel panel-default">

	</aside>
	
	<div class="col-md-5">
    <div class="title-bar bar">
      <h1>Just Joined</h1>
      <%= link_to "Search Users", users_path, 
          :class => 'btn btn-default btn-lg all_toggle' %>
    </div>
		
		<ul class="users">
		  <%= render @users %>
		</ul>
		
	</div>
</div>
