<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">

  <div class="col-md-1">
    <%= render 'layouts/header' %>
  </div>
  
  <div class="col-md-6 col-md-offset-3">
      <li class="no-bullets new-user"><%= render 'new_user' %></li>
      <li class="no-bullets new-gym"><%= render 'new_gym' %></li>
  </div>
  
  <div class="col-md-1">
    <button class="form-toggle btn btn-primary new-user">Create a Gym instead</button>
    <button class="form-toggle btn btn-primary new-gym">Create a User instead</button>
  </div>
</div>

<script>

$(document).ready(function(){
  
  $(".new-user").show();
  $(".new-gym").hide();
  
  $(".form-toggle").click(function(){
    $(".form-toggle").toggleClass("active");
    $(".new-user").toggle();
    $(".new-gym").toggle();
  });
  
});

</script>