<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <li id="new-user" class="no-bullets"><%= render 'new_user' %></li>
      <li id="new-gym" class="no-bullets"><%= render 'new_gym' %></li>
  </div>
  
  <div class="col-md-1">
    <button id="form-toggle" class="btn btn-primary">Create a Gym</button>
  </div>
</div>

<script>

$(document).ready(function(){
  
  $("#new-user").show();
  $("#new-gym").hide();
  
  $("#form-toggle").click(function(){
    $("#form-toggle").toggleClass("active");
    $("#new-user").toggle();
    $("#new-gym").toggle();
  });
  
});

</script>