<button>Post</button>

<div id="post-form"><%= render 'posts/form_post' %></div>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Woah, buddy! That\'s too BIG!');
    }
  });
</script>

<script>
$(document).ready(function(){
    $("button").click(function(){
        $("#post-form").toggle();
    });
});
</script>