<div class="btn-group" role="group">

  <button type="button" class="btn btn-default btn-md form-button active" id="post-button">Post</button>
  <button type="button" class="btn btn-default btn-md form-button" id="workout-button">Workout</button>
  <button type="button" class="btn btn-default btn-md form-button" id="meal-button">Meal</button>

</div>

<li id="post-form" class="no-bullets"><%= render 'posts/form_post' %></li>
<li id="workout-form" class="no-bullets"><%= render 'posts/form_workout' %></li>
<li id="meal-form" class="no-bullets"><%= render 'posts/form_meal' %></li>

<script>

/* I'm sure there's a better way to do this...*/

$(document).ready(function(){
  
  $("#post-form").show();
  $("#workout-form").hide();
  $("#meal-form").hide();
  
  $("#post-button").click(function(){
      $("#post-form").show();
      $("#workout-form").hide();
      $("#meal-form").hide();
      $("#post-button").addClass("active");
      $("#workout-button").removeClass("active");
      $("#meal-button").removeClass("active");
  });
  
  $("#workout-button").click(function(){
      $("#workout-form").show();
      $("#meal-form").hide();
      $("#post-form").hide();
      $("#post-button").removeClass("active");
      $("#workout-button").addClass("active");
      $("#meal-button").removeClass("active");
  });
  
  $("#meal-button").click(function(){
      $("#meal-form").show();
      $("#post-form").hide();
      $("#workout-form").hide();
      $("#post-button").removeClass("active");
      $("#workout-button").removeClass("active");
      $("#meal-button").addClass("active");
  });
  
});
</script>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Woah, buddy! That\'s too BIG!');
    }
  });
</script>