<%= search_form_for @search, url: search_posts_path, html: { method: :post } do |f| %>
	<div class="field">
		<h4>Search Content</h4>
		<%= f.search_field :content_cont %>
	</div>
	<div class="actions"><%= f.submit "Search", class: "btn btn-primary" %></div>
	<%= link_to "Clear Search/Tags", root_url, :class => 'btn btn-default' %>
<% end %>