<li class="activity">
<%= link_to activity.owner.name, activity.owner if activity.owner %>
	is following 
	<% if activity.trackable %>
		<% if (current_user === activity.recipient) %>
			you <span class="admin"><%= time_tag activity.trackable.created_at %></span>
		<% else %>
			<%= link_to activity.recipient.name, activity.recipient %> <span class="admin"><%= time_tag activity.trackable.created_at %></span>
		<% end %>
	<% else %>
		a user that has since been removed
	<% end %>
</li>