<li class="activity">
<%= link_to activity.owner.name, activity.owner if activity.owner %>
	is following 
	<% if activity.trackable %>
		<% if (current_user = activity.recipient) %>
			you
		<% else %>
			<%= link_to activity.recipient.name, activity.recipient %>
		<% end %>
	<% else %>
		a user that has since been removed
	<% end %>
</li>