<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li id="post-button" class="form-button active"><a>Post</a></li>
      <li id="workout-button" class="form-button"><a>Workout</a></li> 
      <li id="meal-button" class="form-button"><a>Meal</a></li> 
    </ul>
  </div>
</nav>

<li id="post-form" class="no-bullets"><%= render 'gyms/gym_form_post' %></li>
<li id="workout-form" class="no-bullets"><%= render 'gyms/gym_form_workout' %></li>
<li id="meal-form" class="no-bullets"><%= render 'gyms/gym_form_meal' %></li>

<script>

/* I'm sure there's a better way to do this...*/

$(document).ready(function(){
  
  $("#post-form").show();
  $("#workout-form").hide();
  $("#meal-form").hide();
  
  $("#post-button").click(function(){
      $("#post-form").show();
      $("#workout-form").hide();
      $("#meal-form").hide();
      $("#post-button").addClass("active");
      $("#workout-button").removeClass("active");
      $("#meal-button").removeClass("active");
  });
  
  $("#workout-button").click(function(){
      $("#workout-form").show();
      $("#meal-form").hide();
      $("#post-form").hide();
      $("#post-button").removeClass("active");
      $("#workout-button").addClass("active");
      $("#meal-button").removeClass("active");
  });
  
  $("#meal-button").click(function(){
      $("#meal-form").show();
      $("#post-form").hide();
      $("#workout-form").hide();
      $("#post-button").removeClass("active");
      $("#workout-button").removeClass("active");
      $("#meal-button").addClass("active");
  });
  
});
</script>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Woah, buddy! That\'s too BIG!');
    }
  });
</script>