<%= link_to favorite_posts_path(post_id: post), 
                      method: :post, remote: true,
                      id: "fav" do %>
            <span class="glyphicon glyphicon-star-empty"></span>
          <% end %>