<li class="activity">
	<%= link_to activity.trackable.name, activity.trackable if activity.trackable  %>
	created a profile <span class="admin"><%= time_tag activity.trackable.created_at %></span>
</li>