// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li.activity {
    list-style: none;
    padding: 5px, 0;
    font-size: 12px;
}

.user-activities {
    li.activity{
      span.admin {
        display: none;
      }
    }
    
}