@import "bootstrap-sprockets";
@import "bootstrap";

/* header */
nav {
  background-color: darkslategrey;
  color: white;
  .brand {
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 22px;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid darkslategray;
  color: #777;
  a {
    color: #555;
  }
  a:hover {
    color: #222;
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
.application {
  position: fixed;
}