@import "bootstrap-sprockets";
@import "bootstrap";

nav {
  background-color: darkslategray;
  color: #edf0f5;
  img {
    height: 50px;
    padding: 5px 0 5px 0;
  }
  .logo {
    vertical-align: middle;
    font-size: 26px;
    padding-left: 15px;
  }
  li {

    a {
      text-decoration: none;
      color: #edf0f5;
    }
    .dropdown.open a.dropdown-toggle :focus {
      color: darkslategray;
    }
    ul.dropdown-menu {
      background-color: darkslategray;
      color: #edf0f5;
      li a {
        background-color: darkslategray;
        text-decoration: none;
        color: #edf0f5;
      }
    }
    i {
      margin-right: 3px;
    }
  }
}

@media (max-width: 767px) {
  #logopic {
    display: none;
  }
  .navbar-header {
    padding-top: 5px;
    button {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

@media (min-width: 768px) {
  nav li a {
    font-size: 16px;
    ul.dropdown-menu {
      li a {
      }
    }
  }
  
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid darkslategray;
  color: darkslategray;
  small {
    width: 100px;
    padding-left: 0px !important;
  }
  ul {
    display: inline-flex;
    list-style: none;
    padding-left: 0px !important;
    li {
      margin-right: 10px;
      margin-left: 10px;
      a {
        color: darkslategray;
      }
      a:hover {
        color: #fdcc52;
        text-decoration: none;
      }
    }
  }
}
.application {
  position: fixed;
}