@import "bootstrap-sprockets";
@import "bootstrap";

nav {
  background-color: darkslategray;
  color: #edf0f5;
  img {
    height: 50px;
    padding-bottom: 5px;
  }
  span {
    font-size: 26px;
    line-height: 50px;
    padding-left: 15px;
  }
  li {
    a {
      text-decoration: none;
      color: #edf0f5;
    }
    .dropdown.open a.dropdown-toggle :focus {
      color: darkslategray;
    }
    ul.dropdown-menu {
      background-color: darkslategray;
      color: #edf0f5;
      li a {
        background-color: darkslategray;
        text-decoration: none;
        color: #edf0f5;
      }
    }
    i {
      margin-right: 3px;
    }
  }
}

@media (max-width: 767px) {
  #logopic {
    display: none;
  }
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid darkslategray;
  color: #777;
  a {
    color: #555;
  }
  a:hover {
    color: #fdcc52;
  }
  small {
    float: left;
    margin-left: 10%;
  }
  ul {
    float: right;
    margin-right: 10%;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
      a {
        color: darkslategray;
      }
    }
  }
}
.application {
  position: fixed;
}