@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* posts */

.posts {
  list-style: none;
  padding: 0;
  li {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #ddd;
    .user {
      margin-top: 5em;
      padding-top: 0;
      img {
        border-style: solid;
        border-width: 1px;
        border-color: black;
        border-radius: 50%;
      }
    }
    .content {
      display: block;
      margin-left: 2.2em;
      .post-id {
        display: none;
      }
      .full-option {
        font-size: 12px;
      }
      span.mini-option {
        display: none;
      }
      img {
        display: block;
        margin-bottom: 5px;
        width: 100%;
      }
      .glyphicon {
        display: none;
      }
    }
    .taglist {
      clear: both;
    }
    .row {
      .timestamp {
        border-top: 1px solid darkslategrey;
        padding-top: 3px;
        color: $gray-light;
        display: block;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 12px;
        a span.comment_count b {
          color: #777777;
    // I have no idea how to remove the fucking underline
          a span.comment_count b:hover {
            text-decoration: none;
          }
        }      
      }
    }
  }
}

@media (min-width: 767px) {
  .posts li div.content {
    div.full-option {
      float: right;
      margin-left: 15px;
      margin-bottom: 15px;
      margin-right: 5px;
      max-width: 200px;
      height: 100%;
    }
    div.inner-content span.post_type {
    display: none;
    }
  }
}


/* Mobile */

@media (max-width: 767px) {
  //maybe something will go here soon....
}

/* For the post detail screen */
aside {
  margin-bottom: 10px !important;
  .post-info { //this is retarded and must be merged with the section below
    margin-top: 20px;
    left: 50%;
    text-align: center;
    padding-bottom: 0px;
    h1 {
      text-align: center;
    }
    .details {
      text-align: left;
      padding-bottom: 0px;
    }
    img {
      border-style: solid;
      border-width: 2px;
      border-color: black;
      border-radius: 50%;
    }
  }
  
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 9px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    .details {
      font-size: 1.1em;
    }
  }
}

.stamp {
  font-size: 12px;
  margin-bottom: 0;
 }

.content-detail {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px 10px 10px 10px;
  border: 1px solid #ddd;
}

.navbar-nav .glyphicon {
  font-size: 1.4em;
}

#centerpic {
    display: block;
    margin: auto;
    width: 100%;
}


/* Form */
.form-check-inline input {
  width: 15px;
}

section {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

section.post_form div.btn-group {
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 35px;
}

#post_tag_list {
  width: 90%;
  float: right;
}

div.flexbox {
  display: flex;
  .glyphicon.glyphicon-tags {
    padding-right: 10px;
    margin-top: 3px;
  }
  .glyphicon.glyphicon-tags.edit {
  padding-right: 10px;
  margin-top: 6px;
  }
  .glyphicon.glyphicon-camera {
    padding-right: 10px;
    margin-top: 4px;
  }
  .glyphicon.glyphicon-camera.edit {
  padding-right: 10px;
  margin-top: 6px;
  }  
}

label.required:before {
  color: red;
  content:"* "
}

/* Style the list */
.no-bullets {
    list-style-type: none;
}