@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* posts */

.posts {
  list-style: none;
  padding: 0;
  li {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #ddd;
    .user {
      margin-top: 5em;
      padding-top: 0;
      img {
        border-style: solid;
        border-width: 1px;
        border-color: black;
        border-radius: 50%;
      }
    }
    .content {
      display: block;
      margin-left: 2.2em;
      .post-id {
        display: none;
      }
      div.inner-content {
        p:last-of-type {
          margin-bottom: 0;
        }
      }
      .full-option {
        font-size: 12px;
      }
      span.mini-option {
        display: none;
      }
      span.full-option {
        margin-left: 20%;
        img {
          display: block;
          margin-bottom: 5px;
          width: 90%;
          height: 90%;
          margin-left: 0%;
          margin-right: 5%;
        }
        iframe {
          display: block;
          width: 90%;
          height: 90%;
          margin-left: 0%;
          margin-right: 5%;
        }
      }
      .glyphicon {
        display: none;
      }
    }
    .taglist {
      clear: both;
    }
    .row {
      .timestamp {
        border-top: 1px solid darkslategrey;
        padding-top: 3px;
        color: $gray-light;
        display: block;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 12px;
        a span.comment_count b {
          color: #777777;
          a:hover {
            color: darkslategrey;
          }
        }
        a:hover {
          text-decoration: none;
          color: darkslategrey;
        }
      }
    }
  }
}

@media (min-width: 767px) {
  .posts li div.content {
    div.full-option {
      float: right;
      margin-left: 15px;
      margin-bottom: 15px;
      margin-right: 5px;
      max-width: 200px;
      height: 100%;
    }
    div.inner-content span.post_type {
    display: none;
    }
  }
}

@media (max-width: 766px) {
  .posts li div.content {
    span.post_type {
      display: none;
    }
  }
}



/* Mobile */

@media (max-width: 767px) {
  //maybe something will go here soon....
}

/* For the post detail screen */
aside {
  margin-bottom: 10px !important;
  .post-info {
    padding-top: 10px !important;
    text-align: left;
    font-size: 1.1em;
    .stamp {
      display: inline;
      line-height: 1;
      font-size: 12px;
      a:hover {
        text-decoration: none;
        color: darkslategrey;
      }
    }
    .share-buttons {
      margin-top: 3px;
    }
  }
}

.col-md-6 {
  .title-bar.middle {
    h1 {
      padding-top: 3px;
      margin: auto;
      width: 100%;
    }
  }
  .content-detail {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 10px 10px 10px;
    border: 1px solid #ddd;
  }
}

.navbar-nav .glyphicon {
  font-size: 1.4em;
}

#centerpic {
    display: block;
    margin: auto;
    width: 100%;
}


/* Form */
.form-check-inline input {
  width: 15px;
}
fieldset {
  overflow: hidden
}
.radio {
  float: left;
  clear: none;
  label {
    float: left;
    clear: none;
    display: block;
    padding: 2px 1em 0 0;
    font-weight: bold !important;
  }  
  input {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
    width: 40px;
  }
}

section {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

section.post_form div.btn-group {
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 35px;
}

#post_tag_list {
  float: right;
}

div.flexbox {
  display: flex;
  .glyphicon.glyphicon-tags {
    padding-right: 10px;
    margin-top: 3px;
  }
  .glyphicon.glyphicon-tags.edit {
  padding-right: 10px;
  margin-top: 6px;
  }
  .glyphicon.glyphicon-camera {
    padding-right: 10px;
    margin-top: 4px;
  }
  .glyphicon.glyphicon-camera.edit {
    padding-right: 10px;
    margin-top: 6px;
  }
  .glyphicon.glyphicon-facetime-video {
    padding-right: 10px;
    margin-top: 4px;
  }
  .glyphicon.glyphicon-facetime-video.edit {
    padding-right: 10px;
    margin-top: 6px;
  }  
}

label.required:before {
  color: red;
  content:"* "
}

/* Style the list */
.no-bullets {
    list-style-type: none;
}