@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* Main */

.main {
   position: fixed;
 }

body {
  margin: 0px;
  padding-top: 25px;
}


#tag_cloud {
  width: 250px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.btn.btn-primary {
  margin-bottom: 10px;
}

.startinfo {
  padding-left: 15px;
}

.alert {
  left: 50%;
  width: 100%;
}

.intro{
  h1 {
    font-size: 60px;
  }
  p {
    font-size: 12px;
  }
}

@media (min-width: 767px) {
  div.panel.intro {
    img {
    width: 80%;
    margin-bottom: 10px;
    }
  }
  .bar {
    height: 75px;
    h1 {
      float: left;
    }
    .btn-group {
      float: right;
      padding-top: 15px;
    }
    .btn-group.md-group {
      padding-top: 25px;
    }
  }
  div.btn-group.intro {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a.btn.mobile {
    display: none;
  }
}




@media (max-width: 767px) {
  div.panel.intro {
    img {
      display: none;
    }
    h1 {
      display: none;
    }
  }
}

/* Tag Cloud Page */

#big_tag_cloud {
  line-height: 2em;
  .s { font-size: 1em; }
  .m { font-size: 2em; }
  .l { font-size: 3em; }
}

/* About Page */

.info-section {
  float: left;
  border-left-style: solid;
  border-width: 2px;
  border-color: $gray-medium-light;
  padding-left: 15px;
  margin-left: 25px;
  margin-bottom: 25px;
}

/* Calculator */

.calculator {
  h3 {
    margin: 0;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
  h3.odd {
    background-color: $gray-medium-light;
  }
  
}








