@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* Main */

.main {
   position: fixed;
 }

#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.btn.btn-primary {
  margin-bottom: 10px;
}

.startinfo {
  padding-left: 15px;
  margin-bottom: 10px !important;
  padding-right: 10px;
  h3 {
    display: center;
  }
}

.alert {
  left: 50%;
  width: 100%;
  margin-bottom: 10px !important;
  font-weight: bold;
}

.intro{
  h1 {
    font-size: 60px;
  }
  p {
    font-size: 12px;
  }
  margin-bottom: 10px !important;
}

.panel.panel-default {
  padding-bottom: 10px;
}

.bar {
  display: flex;
  justify-content: flex-end;
  h1 {
    margin-right: auto;
  }
  .all_toggle {
  margin-top: 3px;
  margin-bottom: 12px;
  }
}

// for desktop/laptops //
@media (min-width: 767px) {
  div.panel.intro {
    img {
    width: 80%;
    margin-bottom: 10px;
    }
  }
  div.btn-group.intro {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a.btn.mobile {
    display: none;
  }
}

// for mobile //
@media (max-width: 767px) {
  .panel.panel-default {
     margin: 0px 14px 0px 14px;
  }
  div.panel.intro {
    img {
      display: none;
    }
  }
  .bar {
    h1 {
      font-size: 32px;
    }
    .all_toggle {
      font-size: 16px;
    }
  } 
  div.signin.intro {
    display: none;
  } 
}

// Tag Cloud Page //

#big_tag_cloud {
  line-height: 2em;
  .s { font-size: 1em; }
  .m { font-size: 2em; }
  .l { font-size: 3em; }
}

/* About Page */

.info-section {
  float: left;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0px 10px 5px 20px;
  border: 1px solid #ddd;
}

/* Calculator */

.calculator {
  .panel {
    margin: 0px 10px 10px 10px;
  }
  .all_toggle {
    margin-top: 10px;
    margin-bottom: 12px;
  }
  .onerepcalc {
    .container {
    }
    h3 {
      margin: 0;
      padding-top: 10px;
      padding-left: 15px;
      padding-bottom: 10px;
    }
    h3.odd {
      background-color: $gray-medium-light;
    }
  }
}