@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#tag_cloud {
  width: 250px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.btn.btn-primary {
  margin-bottom: 10px;
}

.info-section {
  float: left;
  border-left-style: solid;
  border-width: 2px;
  border-color: $gray-medium-light;
  padding-left: 15px;
  margin-left: 25px;
  margin-bottom: 25px;
}