@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.background {
  margin-top: -15px;
 
  padding: 75px 0 150px 0;
  background-image: image-url("Kettlebells.jpg");
  background-size: cover;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* sidebar */
section.user_info {
  margin-top: 20px;
  left: 50%;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  &:first-child {
    border: 0;
    padding-top: 0;
    }
  span {
    display: block;
    margin-bottom: 9px;
    line-height: 1;
  }
  h1 {
    text-align: center;
    font-size: 1.4em;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
  }
  div.details {
    text-align: left;
    margin-top: 5px;
    div.flexbox {
      display: flex;
      i {
        margin-right: 10px;
      }
      .loctxt {
        padding-top: 2px;
      }
    }
  }
  img {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 50%;
  }
  .stats {
    width: 75%;
    margin-left: 16%;
    overflow: auto;
    margin-top: 0;
    padding: 0;
    a {
      float: left;
      padding: 0 10px;
      border-left: 1px solid $gray-lighter;
      color: gray;
      &:first-child {
        padding-left: 0;
        border: 0;
      }
      &:hover {
        text-decoration: none;
        color: blue;
      }
    }
    strong {
      display: block;
    }
  }
}

@media (min-width: 767px) {
  .fixed {
    position: fixed;
  }
  .mobile-follow {
    display: none;
  }
}

@media (min-width: 426px) {
  .mobile-follow {
    display: none;
  }
}
@media (max-width: 425px) {
  .desktop-follow {
    display: none;
  }
}

/* Log */
.bar {
  display: flex;
  justify-content: flex-end;
  h1 {
    margin-right: auto;
  }
  .all_toggle {
  margin-top: 3px;
  margin-bottom: 12px;
  }
}
// for mobile //
@media (max-width: 767px) {
  .bar {
    h1 {
      font-size: 32px;
    }
    .all_toggle {
      font-size: 16px;
    }
  } 
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.user-form {
  margin-left: 10px;
  margin-right: 10px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.form-toggle {
  margin-bottom: 10px;
}

.new-user p {
  font-size: 12px;
  margin-bottom: 2px;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.email_option {
  float: right;
  #user_email_option {
    width: 15px;
    margin-right: 5px;
  }  
}


#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* follow forms */

.btn.follow {
  margin-bottom: 10px;
}

/* Users index */

.search {
  margin-top: 5px;
  h3 {
    margin-top: 0;
  }
}

.users {
  list-style: none;
  padding: 0;
  li {
    overflow: auto;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px 7px 5px 7px;
    border: 1px solid #ddd;
    .name-line {

      img {
        border-style: solid;
        border-width: 1px;
        border-color: black;
        border-radius: 50%;
        margin-bottom: 10px;
      }
      a.username {
        font-size: 1.8em;
      }
      
      #follow_form {
        width: 25%;
        float: right;
        margin-top: 10px;
      }
    }
  }
}

