<footer class="container footer">
  <div class="row">
    <div class="col-sm-6 center">
      <small>
        Copyright © 2017 GymBull.com
      </small>
    </div>
    <div class="col-sm-6 center">
      <ul>
        <li><%= link_to "News", "https://gymbullblog.tumblr.com" %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </div>
    
  </div>
  
</footer>