<footer class="footer">
  <small>
    The Gymbull application is curently under construction
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
<!-- 
            _  _                       _  _
           | || |                     | || |
         =H| || |=====mn=======nm=====| || |H=
           |_||_|     ( \     / )     |_||_|
                       \ )(")( /
                       ( /\_/\ )
                        \     /
                         )=O=(
                        /  _  \
                        |_| |_|
                        ( | | )
                        |_| |_|
                       /__) (__\
-->
</footer>