<!-- General -->
<title><%= full_title(yield(:title)) %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="description" content="<%= meta_description(yield(:page_desc)) %>">

<!-- Open Graph -->
<meta property="og:title" content="GymBull" />
<meta property="og:image" content="https://www.gymbull.com/assets/BullsHead2-300px-40eb7585a95ae04d8582f8a6335d8418673f2de31f699e4f37aa6af50f4537a7.png" />
<meta property="og:description" content="A Culture of Fitness" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@theGymBull">
<meta name="twitter:creator" content="@theGymBull">
<meta name="twitter:image" content="https://www.gymbull.com/assets/BullsHead2-300px-40eb7585a95ae04d8582f8a6335d8418673f2de31f699e4f37aa6af50f4537a7.png" />